<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pfrison.me.polytime">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name="pfrison.me.polytime.android.PolytimeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/main_activity_title"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="pfrison.me.polytime.android.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="pfrison.me.polytime.exceptions.FireDialog">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".android.WidgetHorizontal"
            android:label="@string/widgetHorizontal" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_horizontal_info" />
        </receiver>
        <receiver android:name=".android.WidgetVertical"
            android:label="@string/widgetVertical" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_vertical_info" />
        </receiver>
    </application>
</manifest>